# Project 6-1: Clean the ramen data

## The data is in: ramen-ratings.csv

In [1]:
# Import needed modules

# Import pandas and create the alias pd
import pandas as pd

## Tasks

In [2]:
# Create a ramen DataFrame using read_csv fro the ramen-ratings.csv

ramen = pd.read_csv('ramen-ratings.csv')

ramen

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00
2576,Westbrae,Miso Ramen,Pack,USA,0.50

In [3]:
ramen.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   object
 3   Country  2577 non-null   object
 4   Stars    2577 non-null   float64
dtypes: float64(1), object(4)
memory usage: 715.8 KB

In [4]:
# Task 2, rename the Stars column to Rating.

ramen.rename(columns = {'Stars':'Rating'}, inplace = True)

In [5]:
# Task 3, convert the Style column to the category type
ramen.Style = ramen.Style.astype('category')

In [ ]:
# Task 4, drop the Country column
ramen.drop(columns = ['Country'], inplace = True)

In [6]:
# Task 5, Check that the changes have been applied.

ramen.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Country  2577 non-null   object
 4   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(3)
memory usage: 566.0 KB

In [7]:
# Task 6, rename the Brand column to Company and the Variety column to Product
rename_columns_dic = {'Brand':'Company', 'Variety':'Product'}

ramen.rename(columns = rename_columns_dic, inplace = True)

In [8]:
# Task 7, use the duplicate() method to display all rows with duplicate Company/Product combinations
ramen[ramen.duplicated(subset = ['Company', 'Product'], keep = False)]

,Company,Product,Style,Country,Rating
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
24,Ching's Secret,Hot Garlic Instant Noodles,Pack,India,4.25
46,Nongshim,Shin Ramyun Black,Pack,South Korea,5.00
69,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.00
75,Nongshim,Shin Ramyun,Pack,South Korea,3.00
...,...,...,...,...,...
2545,Koka,Mi Hai Cua Crab Flavor,Pack,Singapore,3.50
2552,Nissin,Demae Ramen Spicy Flavor,Pack,Japan,3.00
2556,Nongshim,Champong Oriental Noodles,Pack,South Korea,4.00
2558,Nongshim,Shin Ramyun,Pack,South Korea,4.00
2565,Sapporo Ichiban,Shrimp Flavor,Pack,Japan,2.50

In [9]:
# Task 8, drop all rows with duplicate Company/Product, except for the first row in each set.
#   Then display data to see how many rows have bee droped.

ramen.drop_duplicates(subset = ['Company', 'Product'], inplace = True)
ramen

,Company,Product,Style,Country,Rating
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00
2576,Westbrae,Miso Ramen,Pack,USA,0.50

In [10]:
# Task 9, drop any rows with missing data

ramen.dropna(inplace = True)

In [11]:
# Task 10, Check again to see `that the changes have been applied.

ramen.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2515 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2515 non-null   object
 1   Product  2515 non-null   object
 2   Style    2515 non-null   category
 3   Country  2515 non-null   object
 4   Rating   2515 non-null   float64
dtypes: category(1), float64(1), object(3)
memory usage: 573.2 KB