# Exercise 7-2: Prepare the Cars data

## Read the data

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv')

In [3]:
# 4 
# display the first five rows

cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

## Add and drop columns

In [4]:
# 5 
# display the unique values for the CarName column

cars.CarName.unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [5]:
# 6 
# add a column for the brand by using a lambda expression, axis = 1 for rows.

cars['brand'] = cars.apply(lambda x: x.CarName.split(' ')[0], axis = 1)

cars.brand

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: brand, Length: 205, dtype: object

In [6]:
# display all the unique data from the new brand column

cars.brand.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [7]:
# Replace all misspelled or inconsistant brand names

cars.brand.replace({'Nissan':'nissan', 'maxda':'mazda', 'porcshce':'porsche',
                   'vokswagen':'volkswagen', 'vw':'volkswagen'}, inplace = True)

In [8]:
# display all the unique data from the cleaned up brand column

cars.brand.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'toyouta', 'volkswagen', 'volvo'], dtype=object)

In [9]:
# 7 
# add a column for the model by using a user-defined function, axis = 1 for rows.

def define_model(row):
    names = row.CarName.split(' ') # this builds the CarName split into 2 parts
    names = ' '.join(names[1:])    # this adds a space before the model number information.
    return names

cars['model'] = cars.apply(define_model, axis = 1)

cars.model

0            giulia
1           stelvio
2      Quadrifoglio
3            100 ls
4             100ls
           ...
200       145e (sw)
201           144ea
202           244dl
203             246
204           264gl
Name: model, Length: 205, dtype: object

In [10]:
# 8
# drop the CarName and car_ID columns

cars = cars.drop(columns = ['CarName', 'car_ID'])

cars.head(20)

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,brand,model
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,13495.000,alfa-romero,giulia
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,16500.000,alfa-romero,stelvio
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,2.68,3.47,9.0,154,5000,19,26,16500.000,alfa-romero,Quadrifoglio
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,3.19,3.40,10.0,102,5500,24,30,13950.000,audi,100 ls
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,3.19,3.40,8.0,115,5500,18,22,17450.000,audi,100ls
5,2,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,...,3.19,3.40,8.5,110,5500,19,25,15250.000,audi,fox
6,1,gas,std,four,sedan,fwd,front,105.8,192.7,71.4,...,3.19,3.40,8.5,110,5500,19,25,17710.000,audi,100ls
7,1,gas,std,four,wagon,fwd,front,105.8,192.7,71.4,...,3.19,3.40,8.5,110,5500,19,25,18920.000,audi,5000
8,1,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,...,3.13,3.40,8.3,140,5500,17,20,23875.000,audi,4000
9,0,gas,turbo,two,hatchback,4wd,front,99.5,178.2,67.9,...,3.13,3.40,7.0,160,5500,16,22,17859.167,audi,5000s (diesel)
10,2,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,...,3.50,2.80,8.8,101,5800,23,29,16430.000,bmw,320i
11,0,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,...,3.50,2.80,8.8,101,5800,23,29,16925.000,bmw,320i
12,0,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,...,3.31,3.19,9.0,121,4250,21,28,20970.000,bmw,x1
13,0,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,...,3.31,3.19,9.0,121,4250,21,28,21105.000,bmw,x3
14,1,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,...,3.31,3.19,9.0,121,4250,20,25,24565.000,bmw,z4
15,0,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,...,3.62,3.39,8.0,182,5400,16,22,30760.000,bmw,x4
16,0,gas,std,two,sedan,rwd,front,103.5,193.8,67.9,...,3.62,3.39,8.0,182,5400,16,22,41315.000,bmw,x5
17,0,gas,std,four,sedan,rwd,front,110.0,197.0,70.9,...,3.62,3.39,8.0,182,5400,15,20,36880.000,bmw,x3
18,2,gas,std,two,hatchback,fwd,front,88.4,141.1,60.3,...,2.91,3.03,9.5,48,5100,47,53,5151.000,chevrolet,impala
19,1,gas,std,two,hatchback,fwd,front,94.5,155.9,63.6,...,3.03,3.11,9.6,70,5400,38,43,6295.000,chevrolet,monte carlo

## Set an index and unstack the data

In [11]:
# 9
# filter the cars data and store in a variable named cars_filtered
# only get rows for Volkswagon and
# the columns named model, horsepower, carbody, and doornumber

cars_filtered = cars.query('brand == "volkswagen"')[['model', 'horsepower', 'carbody', 'doornumber']]

cars_filtered

                 model  horsepower      carbody doornumber
182             rabbit          52        sedan        two
183  1131 deluxe sedan          85        sedan        two
184          model 111          52        sedan       four
185             type 3          85        sedan       four
186           411 (sw)          85        sedan       four
187       super beetle          68        sedan       four
188             dasher         100        sedan       four
189             dasher          90  convertible        two
190             rabbit          90    hatchback        two
191             rabbit         110        sedan       four
192      rabbit custom          68        sedan       four
193             dasher          88        wagon       four

In [12]:
# 10
# index the cars_filtered data by model, carbody, and doornumber

cars_indexed = cars_filtered.set_index(['model', 'carbody', 'doornumber'])

cars_indexed

                                          horsepower
model             carbody     doornumber
rabbit            sedan       two                 52
1131 deluxe sedan sedan       two                 85
model 111         sedan       four                52
type 3            sedan       four                85
411 (sw)          sedan       four                85
super beetle      sedan       four                68
dasher            sedan       four               100
                  convertible two                 90
rabbit            hatchback   two                 90
                  sedan       four               110
rabbit custom     sedan       four                68
dasher            wagon       four                88

In [13]:
# 11
# unstack the carbody column

cars_indexed.unstack('carbody')

                              horsepower
carbody                      convertible hatchback  sedan wagon
model             doornumber
1131 deluxe sedan two                NaN       NaN   85.0   NaN
411 (sw)          four               NaN       NaN   85.0   NaN
dasher            four               NaN       NaN  100.0  88.0
                  two               90.0       NaN    NaN   NaN
model 111         four               NaN       NaN   52.0   NaN
rabbit            four               NaN       NaN  110.0   NaN
                  two                NaN      90.0   52.0   NaN
rabbit custom     four               NaN       NaN   68.0   NaN
super beetle      four               NaN       NaN   68.0   NaN
type 3            four               NaN       NaN   85.0   NaN